.hero{
    display: flex;
    align-items: center;
    margin-top: 70px;
}

.hero h1{
    font-weight: 700;
    font-size: 100px;
    line-height: 102px;
}
.hero p{
    font-weight: 600;
    color: grey;
    max-width: 400px;
}
.hero-btn{
    display: flex;
    gap: 30px;
}
.hero-content{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.hero img{
    /* width: 530px;
    height: 487px; */
     margin-left: 5rem;
     margin-bottom: 5rem;
}


 